<% if @question.errors.any? %>
  <div>
    <% question.errors.full_messages.each do |message| %>
      <p class="mt-sm register_error_message"><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= form_with model: question, data: {turbo: false} do |form| %>
  <%= form.hidden_field :user_id %>

  <p class="mt center"><%= form.label :topic, "Question topic", class: "label" %></p>
  <p class="mt-lg center"><%= form.text_area :topic, rows: 5, class: "form_topic" %></p>

  <p class="center mt"><%= form.label :body, "New question text", class: "label" %></p>
  <p><%= form.text_area :body, rows: 5, class: "form_text mt-lg" %></p>

  <% if question.persisted? %>
    <p class="mt center"><%= form.label :answer, "Answer", class: "label" %></p>
    <p class="mt-lg"><%= form.text_area :answer, rows: 5, class: "form_text" %></p>
  <% end %> 

  <p>
    <b class="label mt mr-sm lf">Hide<%= form.check_box :hidden %></b>
    <b class="mt lf"><%= form.submit "Save", class: "button mb-lg" %></b>
  </p>
<% end %>