<div class="container mb-sm">
  <p>
    <p class="title-sm mb-sm">
      <% if question.topic.present? %>
        <%= question.topic %>
      <% else %>
        Question without topic (old version)
      <% end %>  
    </p>
    
    <% splited_question_body(question.body).each do |line| %>
      <%= line %><br>
    <% end %>
  </p>

    <p class="mt title-sm">Author:       
      <% if question.author.present? %>
        <%= link_to display_nickname(question.author), user_path(question.author),  class: "link" %>
      <% else %>
        anonymous
      <% end %>
    </p>

  <p class="mt"><%= l(question.created_at, format: :short) %></p>
</div>

<% if question.answer.present? %>
  <div class="container mb-sm">
    <p><p class="title-sm mb-sm">Answer:</p>
      <% splited_answer(question.answer).each do |line| %>
        <%= line %><br>
      <% end %>
    </p>
  </div>
<% end %>

<p class="container id mb-sm">
  Question for: <%= link_to display_nickname(question.user), user_path(question.user),  class: "link" %>
</p>

<div class="mt">
  <% if current_user == question.user && !current_user.nil? %>
    <%= button_to "Delete question", question_path(question), class: "button lf mr", method: :delete,
    title: "Delete question", form: {data: {turbo_confirm: "Do you want delete the question?"}} %>

    <% unless question.hidden? %>
      <%= button_to "Hide question", hidden_question_path, class: "button lf mr", method: :put,
      title: "Hide question" %>
    <% end %>
    
    <%= link_to "Edit question", edit_question_path(@question), class: "button mr" %>
  <% end %>

  <%= link_to "All questions", questions_path, class: "button mr" %>
</div>
