<h2 class="title-lg">Join and ask!</h2>

<% if @user.errors.any? %>
  <div>
    <% @user.errors.full_messages.each do |message| %>
      <p class="mt-sm register_error_message"><%= message %></p>
    <% end %>
  </div>
<% end %>

<div class="mt">
  <%= form_with model: @user, data: {turbo: false} do |form| %>

    <p class="mt-lg center"><%= form.label :name, "Your name", class: "label" %></p>
    <p class="mt-sm center"><%= form.text_field :name, class: "form_register" %></p>

    <p class="mt-lg center"><%= form.label :nickname, "Your nickname", class: "label" %></p>
    <p class="mt-sm center"><%= form.text_field :nickname, class: "form_register" %></p>

    <p class="mt-lg center"><%= form.label :email, "Email", class: "label" %></p>
    <p class="mt-sm center"><%= form.text_field :email, class: "form_register" %></p>

    <p class="mt-lg center"><%= form.label :password, class: "label" %></p>
    <p class="mt-sm center"><%= form.password_field :password, class: "form_register" %></p>

    <p class="mt-lg center"><%= form.label :password_confirmation, class: "label" %></p>
    <p class="mt-sm center"><%= form.password_field :password_confirmation, class: "form_register" %></p>

    <p class="mt-lg center"><%= form.submit "Register", class: "button" %></p>
  <% end %>
</div>
