<!DOCTYPE html>
<html>
  <head>
    <title>Askme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice].present? %>
      <p class="success message"><%= flash[:notice] %></p>
    <% elsif flash[:alert].present? %>
      <p class="error message"><%= flash[:alert] %></p>
    <% end %>
    <div class="wrapper">
      <div class="navbar grey" style= "<%= "background: #{current_user.color};" if current_user.present? %>">

        <p><%= link_to "Askme", questions_path, class: "link title-sm" %></p>
        <div>
          <% if current_user.present? %>
              <p>
                <%= link_to display_nickname(current_user), edit_user_path(current_user),  class: "mr lf link" %>
                <%= button_to "Log out", session_path, method: :delete, class: "button red mr" %>
                </p>
          <% else %>
            <p><%= link_to "Register", new_user_path, class: "button green mr-sm" %>
            <%= link_to "Log in", new_session_path, class: "link" %></p>
          <% end %>
        </div>
      </div>  
      <%= yield %>
    </div>
  </body>
</html>
